body {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    background: linear-gradient(to right, #009999 0%, white 32%, 88%, #009999 100%);
}

.topnav {
    overflow: hidden;
    background-color: #4d4d4d;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #009999;
    color: black;
}

.about {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.education, .work_experience, .skills, .certificates, .contact{
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

h1 {
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 0px;
    line-height: 20px;
    font-size: 25px;
}

h2 {
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 0px;
    /*line-height: 30px;*/
    font-size: 25px;
}

p {
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 0px;
    line-height: 25px;
    font-size: 20px;
}

a {
    text-align: left;
    line-height: 25px;
    font-size: 20px;
}

.certificate_container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.certificate_slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: white;
}

.caption {
    color: black;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slidenumber {
    color: black;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0; 
}

